<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="1" android:versionName="1.0"
    package="br.eng.moretto.a2turbo" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name=".MainActivity">
            <!-- android:screenOrientation="portrait">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/select_device"
            android:name="br.eng.moretto.a2turbo.DeviceListActivity" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".FuelMapper"/>
    </application>
    <uses-sdk android:minSdkVersion="8"/>
</manifest>
